* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family:Verdana, Tahoma, sans-serif;
    overscroll-behavior: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

a {
    color: black;
    text-decoration: none;
}

/* LOG IN PAGE */

form {
    background-color: #1F2937;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    color: #F3F4F6;
    padding: 20px 50px;
}

.error {
    color: red;
    font-size: 12px;
    border: 2px solid red;
    background-color: bisque;
    text-align: center;
    display: none;
    padding: 5px;
}

button {
    padding: 5px 10px;
    font-size: 10px;
}

/* CURRENCY CONVERTER */

.calc-main {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    padding: 20px 60px;
    background-color: #1F2937;
    color: #F3F4F6;
    border-radius: 10px;
    padding: 20px 60px;
    min-height: 80%;
    justify-content: space-between;
}

.input-sec {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}